<div class="mega-menu">
	<div class="info">
		<!-- div that will hold title and description, and possible and image -->
		<h1 class="title">{{title}}</h1>
		<p class="description">{{ description }}</p>
	</div>
	<div class="links">
		<!-- div that will hold all the links -->
		<h5 class="link">Link</h5>
		<h5 class="link">Link</h5>
		<h5 class="link">Link</h5>
		<h5 class="link">Link</h5>
		<h5 class="link">Link</h5>
		<h5 class="link">Link</h5>
		<h5 class="link">Link</h5>
		<h5 class="link">Link</h5>
		<h5>{{ links }}</h5>
	</div>
</div>